<div class="flex-container">
    <div class="auth-card">
        <div  class="capt-cont">
            You signed out of your account.
        </div>
        <div>
            It is a good idea to close all browser windows.
        </div>
    </div>
</div>


<div class="footer">
    <div class="copyright">
        <p style="float: right; margin-right: 2px;">Version {{version}}</p>
        <p style="text-align: center; margin-left: 9%;">
            &copy; {{ currentDate | date: "yyyy" }} VeeMed Inc
        </p>
    </div>
</div>
